.env
__pycache__
*.egg
*.egg-info
*.py[co]
*.pyc
dist
build
.tox
.eggs
.nox
.pytest_cache
.mypy_cache
.local
.venv
.venv3
.env3
.env3.*/include
.env3/lib/python*/site-packages
.env3/lib/python*/dist-packages
.env3/lib/python*/bin
.env3/lib64/python*/site-packages
.env3/lib64/python*/dist-packages
.env3/bin
.venv3.*/include
.venv3.*/lib/python*/site-packages
.venv3.*/lib/python*/dist-packages
.venv3.*/lib64/python*/site-packages
.venv3.*/lib64/python*/dist-packages
.venv3./bin
.venv3.*/bin
.venv3.*/lib/python*/site-packages
.venv3.*/lib/python*/dist-packages
.venv3.*/lib64/python*/site-packages
.venv3.*/lib64/python*/dist-packages
.venv3.*/include
.venv3.*/lib/python*/site-packages
.venv3.*/lib/python*/dist-packages
.venv3.*/lib64/python*/site-packages
.venv3.*/lib64/python*/dist-packages
.venv3.*/bin
.venv3.*/bin
.venv3.*/lib/python*/site-packages
.venv3.*/lib/python*/dist-packages
.venv3.*/lib64/python*/site-packages
.venv3.*/lib64/python*/dist-packages
results/